.sum-app {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: Arial;
  margin: auto;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
}

input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline-color: #4caf50;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}


.error-message {
  color: red;
  font-weight: bold;
}

